<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body class="sb-nav-fixed">
  <% if (user.type === 9) { %>
  <%- include('navBar-admin.ejs') %>
  <% } else { %>
  <%- include('navBar-agent.ejs') %>
  <% } %>
  <%- include('modals.ejs', {user: user}) %>
  <div id="layoutSidenav">
    <% if (user.type === 9) { %>
    <%- include('sideBar-admin.ejs') %>
    <% } else { %>
    <%- include('sideBar-agent.ejs') %>
    <% } %> <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h2 class="my-4">에이전트 베팅정보</h2>
          <div class="card mb-4">
            <div class="card-body">
              <table id="agentBetting" class="cell-border hover"" style=" width: 100%">
                <thead>
                  <tr>
                    <th rowspan="3"></th>
                    <th rowspan="3">node-id</th>
                    <th rowspan="3">node-pid</th>
                    <th rowspan="3">타입</th>
                    <th rowspan="3">아이디</th>
                    <th rowspan="3">닉네임</th>
                    <th colspan="12" class="border-end text-center d-none d-lg-table-cell">카지노</th>
                    <th colspan="12" class="text-center d-none d-lg-table-cell">슬롯</th>
                  </tr>
                  <tr>
                    <th colspan="6" class="text-center d-none d-lg-table-cell">당일</th>
                    <th colspan="6" class="border-end text-center d-none d-lg-table-cell">전체</th>
                    <th colspan="6" class="text-center d-none d-lg-table-cell">당일</th>
                    <th colspan="6" class="text-center d-none d-lg-table-cell">전체</th>
                  </tr>
                  <tr>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>베팅</th>
                    <th>획득</th>
                    <th>환수(%)</th>
                    <th>플래티넘</th>
                    <th>골드</th>
                    <th>실버</th>
                    <th>브론즈</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </main>

    </div>
  </div>
  <%- include('foot.ejs') %>
  <script src="/public/js/agent.js"></script>
  <script src="/public/js/plugin/jquery-simple-tree-table.js"></script>
</body>

</html>