<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body class="sb-nav-fixed">
  <% if (user.type === 9) { %>
  <%- include('navBar-admin.ejs') %>
  <% } else { %>
  <%- include('navBar-agent.ejs') %>
  <% } %>
  <%- include('modals.ejs', {user: user}) %>
  <div id="layoutSidenav">
    <% if (user.type === 9) { %>
    <%- include('sideBar-admin.ejs') %>
    <% } else { %>
    <%- include('sideBar-agent.ejs') %>
    <% } %> <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h2 class="my-4">회원 머니정보</h2>
          <div class="card mb-4">
            <div class="card-body">
              <table id="userAsset" class="cell-border hover" style="width: 100%">
                <thead>
                  <tr>
                    <th>IDX</th>
                    <th>아이디</th>
                    <th>닉네임</th>
                    <th>에이전트 트리</th>
                    <th>보유금</th>
                    <th>포인트</th>
                    <th>최근 입금</th>
                    <th>최근 출금</th>
                    <th>당일 입금</th>
                    <th>당일 출금</th>
                    <th>당일 입출금</th>
                    <th>총 입금</th>
                    <th>총 출금</th>
                    <th>총 입출금</th>
                    <th>받은 보유금</th>
                    <th>받은 포인트</th>
                    <th>플래티넘</th>
                    <th>골드</th>
                    <th>실버</th>
                    <th>브론즈</th>
                    <th>node</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <%- include('foot.ejs') %>
  <script src="/public/js/user.js"></script>
</body>

</html>